module attilaolbrich.co.uk/test

go 1.22.4

replace attilaolbrich.co.uk/httpwrapper => ./deploymentwrapper/http

replace attilaolbrich.co.uk/lambdawrapper => ./deploymentwrapper/lambda

replace attilaolbrich.co.uk/sqs_eventdispatcher => ./eventdispatcher/sqs/

replace attilaolbrich.co.uk/handler => ./handler

<--replacements->
