// Package main is the entry point
package main

import (
	"fmt"
	"deploymentwrapper"
<--imports-->
)

func main() {
	listener := connector.New()
	listener.Config(config.New())
	listener.Port(<--port-->)
	err := listener.Start(
<--handlers-->    )

	if err != nil {
		fmt.Println(err)
	}
}
