module olbrichattila.co.uk/test

go 1.18

replace olbrichattila.co.uk/httpwrapper => ./deployment_wrapper/http

replace olbrichattila.co.uk/lambdawrapper => ./deployment_wrapper/lambda

<--replacements->
